<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.mumoshu.android.app.tweetalarmclock"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".activity.AlarmSet">
            
        </activity>

    
<activity android:name=".activity.VideoPlayer"></activity>
<activity android:name=".activity.Tweeter"></activity>
<activity android:name=".activity.AlarmClock"></activity>

<activity android:name=".activity.OAuthEntry" android:launchMode="singleInstance"><intent-filter><action android:name="android.intent.action.VIEW"></action>
<category android:name="android.intent.category.DEFAULT"></category>
<category android:name="android.intent.category.BROWSABLE"></category>
<data android:scheme="imaokitter"></data>
</intent-filter>
<intent-filter><action android:name="jp.mumoshu.android.app.twitter_alarm_clock.OPEN_OAUTH_ENTRY"></action>
<category android:name="android.intent.category.DEFAULT"></category>
</intent-filter>
</activity>
<activity android:name=".activity.HomeMenu" android:launchMode="singleInstance">
</activity>
<activity android:launchMode="singleInstance" android:name=".activity.ApplicationPreference"><intent-filter><category android:name="android.intent.category.LAUNCHER" /><action android:name="android.intent.action.MAIN"></action>
</intent-filter></activity>
</application>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 